.home {
    display: flex;
    justify-content: center;
}

.home-theme {
    display: block;
    max-height: 800px;
    max-width: 100%;
}

.contact-items {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 850px;
}

.contact-box {
    cursor: pointer;
    margin: 10px;
    width: 280px;
    text-align: center;
}

.contact-box:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.contact-icon-facebook {
    color: rgba(35, 71, 128, 1);
}

.contact-icon-mailto {
    color: rgba(212, 70, 56, 1);
}

.contact-icon-tel {
    color: rgba(52, 218, 79, 1);
}

.logo-text {
    font-weight: bold;
}

.staff-title {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.staff-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.staff-card {
    margin: 20px;
    min-width: 300px;
    width: 350px;
}

.staff-card-img {
    height: 180px;
    object-fit: cover;
}

.staff-card-name {
    font-size: 20px;
}

.staff-card-actions {
    display: flex;
    justify-content: center;
}
