.navbar {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
}

.navbar-brand > img {
    height: 100%;
}

.home,
.sermons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.home-theme {
    display: block;
    max-height: 800px;
    max-width: 100%;
}

.contact-items {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 850px;
}

.contact-box {
    cursor: pointer;
    margin: 10px;
    width: 280px;
    text-align: center;
}

.contact-box:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.contact-icon-facebook {
    color: rgba(35, 71, 128, 1);
}

.contact-icon-mailto {
    color: rgba(212, 70, 56, 1);
}

.contact-icon-tel {
    color: rgba(52, 218, 79, 1);
}

.logo-text {
    font-weight: bold;
}

.staff-title {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.staff-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.staff-card {
    margin: 20px;
    min-width: 300px;
    width: 350px;
}

.staff-card-img {
    height: 180px;
    object-fit: cover;
}

.staff-card-name {
    font-size: 20px;
}

.staff-card-description {
    margin-top: 10px;
}

.staff-card-actions {
    display: flex;
    justify-content: center;
}

.sermon-video-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.sermon-video-header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.sermon-video {
    height: 360px;
    width: 640px;
}

@media (max-width: 575.98px) {
    .sermon-video {
        height: 180px;
        width: 320px;
    }
}

.sermon-video-description {
    margin: 20px;
    max-width: 1040px;
}

.sermon-video-description-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.sermon-video-description-verse {
    font-size: 12px;
    font-style: italic;
}
